@import 'tailwindcss';

@theme {
  /* 배경 및 기본 컬러 */
  --color-main: #1a1a1a;
  --color-white-base: #f5f5f5;
  --color-gray-light: #bebdbd;

  /* 프로젝트별 배경 컬러 */
  --color-p01: #1e2832; /* Woink Ips */
  --color-p02: #5c8fa4; /* Prime Dental */
  --color-p03: #281e29; /* Sentrie */

  /* 폰트 */
  --font-inria: 'Inria Serif', serif;
  --font-sans: 'Pretendard', sans-serif;

  /* 폰트 크기 */
  --text-160: 160px;
  --text-110: 110px;
  --text-80: 80px;
  --text-72: 72px;
  --text-60: 60px;
  --text-50: 50px;
  --text-24: 24px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-main);
  color: var(--color-white-base);
  word-break: keep-all;
}

@keyframes autoScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% + 290px));
  }
}

.animate-autoScroll {
  animation: autoScroll 11s linear infinite;
}
