@import 'tailwindcss';

@theme {
  /* 배경 및 기본 컬러 */
  --color-main: #1a1a1a;
  --color-white-base: #f5f5f5;
  --color-gray-light: #bebdbd;

  /* 프로젝트별 배경 컬러 */
  --color-p01: #1e2832; /* Woink Ips */
  --color-p02: #5c8fa4; /* Prime Dental */
  --color-p03: #281e29; /* Sentrie */

  /* 폰트 */
  --font-inria: 'Inria Serif', serif;
  --font-sans: 'Pretendard', sans-serif;

  /* 폰트 크기 */
  --text-160: 160px;
  --text-110: 110px;
  --text-80: 80px;
  --text-72: 72px;
  --text-60: 60px;
  --text-50: 50px;
  --text-24: 24px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-main);
  color: var(--color-white-base);
  word-break: keep-all;
}

/* 전체 섹션의 배경색 변화를 부드럽게 */
.section {
  transition: background-color 0.8s ease;
}

/* 자동 스크롤 애니메이션 */
@keyframes autoScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% + 290px));
  }
}

.animate-autoScroll {
  animation: autoScroll 11s linear infinite;
}

/* 히어로 섹션 애니메이션 */

.hero-reveal {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}

.section:not(.active) .hero-reveal {
  opacity: 0;
  transform: translateY(-20px);
}

.section:not(.active) .delay-1 {
  transition-delay: 0s;
}
.section.active .delay-1 {
  transition-delay: 0s;
}

/* About 섹션 애니메이션 */
.about-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* About 섹션이 활성화(active) 되었을 때 나타남 */
.section[data-anchor='about'].active .about-reveal {
  opacity: 1;
  transform: translateY(0);
}

/* 순차적 등장 (Delay) */
.section[data-anchor='about'].active .delay-1 {
  transition-delay: 0.2s;
}
.section[data-anchor='about'].active .delay-2 {
  transition-delay: 0.4s;
}
.section[data-anchor='about'].active .delay-3 {
  transition-delay: 0.6s;
}
.section[data-anchor='about'].active .delay-4 {
  transition-delay: 0.8s;
}

/* 프로젝트 섹션 공통 등장 애니메이션 */
.pj-text-reveal,
.pj-img-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

/* 활성화 시 등장  */
.section.active .pj-text-reveal,
.section.active .pj-img-reveal {
  opacity: 1;
  transform: translateY(0);
}

/* Contact 섹션 전용 애니메이션 */
.contact-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

/* 활성화 시 등장 */
.section[data-anchor='contact'].active .contact-reveal {
  opacity: 1;
  transform: translateY(0);
}

/* 순차적 등장 딜레이 */
.section[data-anchor='contact'].active .contact-delay-1 {
  transition-delay: 0.2s;
} /* 타이틀 */
.section[data-anchor='contact'].active .contact-delay-2 {
  transition-delay: 0.4s;
} /* 서브문구 */
.section[data-anchor='contact'].active .contact-delay-3 {
  transition-delay: 0.6s;
} /* 주소록 */
.section[data-anchor='contact'].active .contact-delay-4 {
  transition-delay: 1s;
} /* 푸터 영역 */
